<app-top-bar [title]="'LOGIN_TITLE' | translate"></app-top-bar>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

    @if (this.logOutMessage != "") {
      <ion-text color="danger">
        <p> {{this.logOutMessage}} </p>
      </ion-text>
    }

    <ion-item>
      <ion-label position="floating">{{"EMAIL_LABEL" | translate}}</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="isInvalid('email')">
      <p *ngIf="loginForm.controls['email'].errors?.['required']">{{"EMAIL_REQUIRED" | translate}}</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">{{"PASSWORD_LABEL" | translate}}</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="isInvalid('password')">
      <p *ngIf="loginForm.controls['password'].errors?.['required']">{{"PASSWORD_REQUIRED" | translate}}</p>
    </ion-text>

    @if (this.errorMessage != "") {
      <ion-text color="danger">
        <p> {{this.errorMessage}} </p>
      </ion-text>
    }

    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">{{"LOGIN_LABEL" | translate}}</ion-button>
  </form>
  <ion-button expand="full" (click)="goToForgotPassword()">Forgot Password ?</ion-button>
  <ion-button expand="full" (click)="goToRegister()">Register</ion-button>
  <ion-button expand="full" (click)="signInWithGoogle()">Sign in with Google</ion-button>
</ion-content>
