<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reddot
    </ion-title>

      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon src="../../assets/icon/log-out-outline.svg" color="negative"></ion-icon>
        </ion-button>
      </ion-buttons>


  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list lines="full">
      @for (topic of this.topics | async; track topic.id) {
        <ion-item>
          <ion-label
          [title]="topic.id"
          (click)="seeDetails(topic.id)"
          >
            {{ topic.name }}
          </ion-label>
          <ion-button data-action="delete" fill="clear" slot="end" (click)="deleteItem(topic)">
            <ion-icon src="../../assets/icon/trash-outline.svg" color="danger"></ion-icon>
          </ion-button>
        </ion-item>
      }
    </ion-list>
  </div>
</ion-content>

<ion-button (click)="showModal()">Créer un topic</ion-button>
<app-modal-creation [isVisible]="isModalVisible" (close)="closeModal()"></app-modal-creation>
