<app-top-bar title="Reddot"></app-top-bar>


<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list lines="full">
      @for (topic of this.topics | async; track topic.id) {
        @if (topic.isReader) {
          <ion-item>
            <ion-label
            [title]="topic.id"
            (click)="seeDetails(topic.id)"
            >
              {{ topic.name }}
          </ion-label>
            @if (topic.isOwner) {
              <ion-button data-action="delete" aria-label="Remove a post" fill="clear" slot="end" (click)="deleteItem(topic)">
                <ion-icon src="../../assets/icon/trash-outline.svg" color="danger"></ion-icon>
              </ion-button>
            }
          </ion-item>
        }
        
      }
    </ion-list>
  </div>
</ion-content>

<ion-button (click)="showModal()">{{"CREATE_TOPIC" | translate }}</ion-button>
<app-modal-creation [isVisible]="isModalVisible" (close)="closeModal()"></app-modal-creation>
