<ion-modal [isOpen]="isVisible" trigger="open-modal" (willDismiss)="closeModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="closeModal()">{{ 'CLOSE' | translate }}</ion-button>
        </ion-buttons>
        <ion-title>{{ 'MANAGE_SHARE_TITLE' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      @if (!isAddingUser) {
        <ion-button expand="full" color="primary" (click)="showAddUserForm()">
          <ion-icon name="add" slot="start"></ion-icon>
        </ion-button>
      }

      @if (isAddingUser) {
        <ion-item>
          <ion-input
            [label]="'EMAIL_LABEL' | translate"
            labelPlacement="stacked"
            type="email"
            placeholder="Email"
            name="email"
            required
            email
            minlength="4"
            maxlength="100"
            [(ngModel)]="newUserEmail"
            #emailInput="ngModel"
          ></ion-input>
        </ion-item>

        <!-- Affichage des erreurs sous le champ -->
        <div
          *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
          class="error-message"
        >
          <small *ngIf="emailInput.errors?.['required']">{{ 'EMAIL_REQUIRED' | translate }}</small>
          <small *ngIf="emailInput.errors?.['email']">{{
            'INVALID_EMAIL_FORMAT' | translate
          }}</small>
        </div>

        <ion-radio-group [value]="newUserRole" required>
          <ion-item>
            <ion-label>{{ 'READER' | translate }}</ion-label>
            <ion-radio slot="end" value="reader"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'WRITER' | translate }}</ion-label>
            <ion-radio slot="end" value="writer"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <ion-button
          expand="full"
          color="success"
          (click)="addUser()"
          [disabled]="emailInput.invalid"
        >
          {{ 'ADD' | translate }}
        </ion-button>
        <ion-button expand="full" color="medium" (click)="cancelAddUser()">
          {{ 'CANCEL' | translate }}
        </ion-button>
      }

      <ion-list class="scrollable-list">
        @for (user of users; track user.email) {
          <ion-card>
            <ion-card-content>
              <ion-label class="user-email">{{ user.email }}</ion-label>

              <ion-radio-group [value]="user.role" (ionChange)="updateRole(user)">
                <ion-item (click)="updateRole(user, 'reader')">
                  <ion-label>{{ 'READER' | translate }}</ion-label>
                  <ion-radio slot="end" value="reader"></ion-radio>
                </ion-item>
                <ion-item (click)="updateRole(user, 'writer')">
                  <ion-label>{{ 'WRITER' | translate }}</ion-label>
                  <ion-radio slot="end" value="writer"></ion-radio>
                </ion-item>
              </ion-radio-group>

              <ion-button expand="block" color="danger" fill="outline" (click)="removeUser(user)">
                <ion-icon name="trash-outline" slot="start"></ion-icon>
                {{ 'DELETE' | translate }}
              </ion-button>
            </ion-card-content>
          </ion-card>
        }
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
