<ion-modal [isOpen]="isVisible" trigger="open-modal" (willDismiss)="this.closeModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="this.closeModal()">{{"CANCEL" | translate}}</ion-button>
        </ion-buttons>
        <ion-title>{{"MANAGE_SHARE_TITLE" | translate}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      @if (!this.noReader) {
        <ion-label class="columnTitle">{{"READERS" | translate}}</ion-label>
        <ion-list class="scrollable-list" lines="full">
          @for (reader of this.topic.readers; track this.topic.readers) {
            <ion-item>
              <ion-label [title]="reader"> {{ reader }} </ion-label>
                <ion-button data-action="delete" fill="clear" slot="end" (click)="removeReader(reader)">
                  <ion-icon src="../../assets/icon/trash-outline.svg" color="danger"></ion-icon>
                </ion-button>
            </ion-item>
          }
        </ion-list>
      }

      @if (!this.noWriter) {
        <ion-label class="columnTitle">{{"WRITERS" | translate}}</ion-label>
        <ion-list class="scrollable-list" lines="full">
          @for (editor of this.topic.editors; track this.topic.editors) {
            <ion-item>
              <ion-label [title]="editor"> {{ editor }} </ion-label>
                <ion-button data-action="delete" fill="clear" slot="end" (click)="removeWriter(editor)">
                  <ion-icon src="../../assets/icon/trash-outline.svg" color="danger"></ion-icon>
                </ion-button>
            </ion-item>
          }
        </ion-list>
      }
      @if (this.noReader && this.noWriter) {
        <ion-label class="notFoundLabel"> {{"NO_SHARE_MESSAGE" | translate}}</ion-label>
      }
    </ion-content>
  </ng-template>
</ion-modal>