<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{"FORGOT_PASSWORD_TITLE" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (this.hasEntered) {
    <p> {{"CORRESPONDING_EMAIL_MESSAGE" | translate}} </p>
  } @else {
    <form [formGroup]="forgotloginForm" (ngSubmit)="onForgotPassword()">
      <ion-item>
        <ion-label position="floating">{{"EMAIL_LABEL" | translate}}</ion-label>
        <ion-input type="email" ngDefaultControl formControlName="forgot_email"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="isInvalid('forgot_email')">
        <p *ngIf="forgotloginForm.controls['forgot_email'].errors?.['required']">{{"EMAIL_REQUIRED"| translate}}</p>
        <p *ngIf="forgotloginForm.controls['forgot_email'].errors?.['invalid']">{{"INVALID_EMAIL_FORMAT"| translate}}</p>
      </ion-text>

      @if (this.errorMessage != "") {
        <ion-text color="danger">
          <p> {{this.errorMessage}} </p>
        </ion-text>
      }  

      <ion-button expand="full" type="submit" [disabled]="forgotloginForm.invalid">{{"SEND_RESET_LINK" | translate}}</ion-button>
    </form>
  }
  <ion-button expand="full" (click)="goToLogIn()">{{"ASK_TO_CONNECT" | translate}}</ion-button>

</ion-content>
