<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (this.hasEntered) {
    <p> If your email coresspond to an actual account, you will receive an email with instruction to setup your password </p>
  } @else {
    <form [formGroup]="forgotloginForm" (ngSubmit)="onLogin()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="forgot_email"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="isInvalid('forgot_email')">
        <p *ngIf="forgotloginForm.controls['forgot_email'].errors?.['required']">Email is required</p>
        <p *ngIf="forgotloginForm.controls['forgot_email'].errors?.['invalid']">Email is required</p>
      </ion-text>
      <ion-button expand="full" type="submit" [disabled]="forgotloginForm.invalid">Register</ion-button>
    </form>
  }
  <ion-button expand="full" (click)="goToLogIn()">Log In ?</ion-button>

</ion-content>
