<app-top-bar [title]="this.topic.name + ' -- #' + this.topic.id"></app-top-bar>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    @for (post of this.topic.posts; track post.id) {
      <ion-item class="post-item" >
        <ion-label [title]="post.id" (click)='goToPost(post)'><span [attr.data-cy]="post.id">{{ post.name }}</span></ion-label>
        <ion-button fill="clear" slot="end" (click)="deleteItem(post)">
          <ion-icon src="../../assets/icon/trash-outline.svg" color="danger"></ion-icon>
        </ion-button>
      </ion-item>
      }
  </ion-list>

  <ion-button (click)="showModal()">Créer un post</ion-button>
</ion-content>

<app-modal-creation [isVisible]="isModalVisible" [topicId]="topicId" (close)="closeModal()"></app-modal-creation>