<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon src="../../assets/icon/arrow-back-outline.svg" color="negative"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{this.topic.name}} -- {{this.topic.id}} 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    @for (post of this.topic.posts; track post.id) {
      <ion-item>
        <ion-label [title]="post.id" (click)='goToPost(post)'>{{ post.name }}</ion-label>
        <ion-button fill="clear" slot="end" (click)="deleteItem(post)">
          <ion-icon src="../../assets/icon/trash-outline.svg" color="danger"></ion-icon>
        </ion-button>
      </ion-item>
      }
  </ion-list>

  <ion-button (click)="showModal()">Créer un post</ion-button>
</ion-content>

<app-modal-creation [isVisible]="isModalVisible" [topicId]="topicId" (close)="closeModal()"></app-modal-creation>