ion-toolbar {
  display: flex; /* Utiliser Flexbox pour l'alignement */
  align-items: center; /* Centrer verticalement les éléments */
  justify-content: space-between; /* Espacer les éléments de gauche à droite */
  height: 5rem; /* Hauteur de la toolbar (vous l'avez déjà définie) */
}

ion-button {
  font-size: 1rem; /* Agrandir le texte et les icônes des boutons */
}

ion-icon,
.img-language-flag {
  font-size: 2rem; /* Agrandir les icônes */
}

.img-language-flag {
  width: 1em;
  height: auto;
  padding: 0;
}
