<ion-header [translucent]="true">
  <ion-toolbar class="ion-toolbar">
    @if (!this.isHomePage) {
      <ion-buttons slot="start">
        <ion-button [id]="'backRoute-' + buttonId" (click)="goTo()">
          <ion-icon
            src="../../assets/icon/arrow-back-outline.svg"
            aria-label="Go back"
            color="negative"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    }

    <ion-title slot="start" class="ion-text-center">
      {{ this.title }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="this.topBarService.switchLang()">
        <img
          [src]="this.topBarService.getLanguageIconPath()"
          alt="Language flag"
          class="img-language-flag"
        />
      </ion-button>
      <ion-button (click)="this.topBarService.toggleDarkMode()">
        <img
          [src]="this.topBarService.getLightOrDarkModeIconPath()"
          alt="Language flag"
          class="img-language-flag"
        />
      </ion-button>
      @if ((this.isAuth$ | async) && !this.isAccountInfosPage) {
        <ion-button (click)="goToAccountInfos()">
          <ion-icon
            name="person-circle-outline"
            aria-label="See account infos"
            color="negative"
          ></ion-icon>
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>
